/**************************************/
/******** ACSS Editor v1.0 CSS ********/
/**************************************/

:host {
	--generalBG: #234;
	--buttonColorBG: #5a6b8a;
	--buttonColor: #fafafa;
	--buttonHoverBG: #7a89a6;
	--panelBorderBG: #2a4157;
	--panelBorder: #fff;
	--typingAreaBG: #fcfcfc;
	--typingArea: #000;
	--resultIframeBG: #fff;
	--horizontalBar: var(--generalBG);
	--smallHeadButtonBG: #426dbb;
	--smallHeadButtonHoverBG: #5f81bf;
	--smallHeadButtonSelected: #4fa661;
}

acss-editor-code-acss > div,
acss-editor-code-html > div,
acss-editor-code-css > div {
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc(32.5% - 12px);
	height: calc(100% - 10px);
	margin: 6px 6px 0 6px;
	background-color: var(--panelBorderBG);
	color: var(--panelBorder);
	border-radius: 4px;
}

acss-editor-code-acss > div {
	left: 0;
}

acss-editor-code-html > div {
	left: 33.75%;
}

acss-editor-code-css > div {
	right: 0;
}

.typingArea {
	font-family: consolas,"Liberation Mono",courier,monospace;
	font-size: 14px;
	width: calc(100% - 19px);
	height: calc(100% - 41px);
	margin: 4px;
	padding: 5px;
	resize: none;
	background-color: var(--typingAreaBG);
	color: var(--typingArea);
	border: none;
	tab-size: 4;
	-moz-tab-size: 4;
}

.typingArea:focus {
	outline: none;
}

#runAgain, #reset, #tabMode, #screenSizer {
	position: absolute;
	top: -22px;
	min-width: 100px;
}

#runAgain {
	width: 200px;
	left: 12px;
}

#tabMode {
	right: 253px;
}

#reset {
	right: 132px;
}

#screenSizer {
	right: 12px;
}

.areaHeading {
	position: relative;
	width: 100%;
	height: 22px;
	text-align: center;
	transition: background-color 100ms linear;
}

button {
	padding: 2px 10px;
	background-color: var(--buttonColorBG);
	color: var(--buttonColor);
	border: none;
	border-radius: 3px;
}

acss-editor-code-result {
	background-color: var(--panelBorderBG);
	position: absolute;
	top: 0;
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 100%;
}

acss-editor-code-result iframe {
	margin: 4px;
	width: calc(100% - 12px);
	height: calc(100% - 40px);
	background-color: var(--resultIframeBG);
}

#horizontalBar {
	position: absolute;
	top: calc(50% - 14px);
	width: 100%;
	height: 24px;
	background-color: var(--horizontalBar);
	cursor: ns-resize;
}

#editorWrap {
	position: relative;
	width: 100%;
	height: 500px;
	min-height: 250px;
	background-color: var(--generalBG);
	resize: vertical;
	overflow: hidden;
}

@media (min-width: 1024px) {
	#editorWrap {
		height: 600px;
	}
}

#typingAreaOuterWrap {
	position: absolute;
	width: 100%;
	top: 0;
	height: calc(50% - 10px);
	background-color: var(--generalBG);
}

.typingAreaWrap {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--generalBG);
}

.resultWrap {
	position: relative;
	width: 100%;
	height: 100%;
}

#resultOuterWrap, #bottomCover {
	position: absolute;
	width: 100%;
	top: calc(50% + 10px);
	height: calc(50% + 10px);
}

#bottomCover {
	display: none;
	z-index: 9999999;
}

acss-editor-mobile-menu {
	display: none;
}

#editorWrap.small acss-editor-mobile-menu {
	display: block;
}

#editorWrap.small .areaHeading,
#editorWrap.small #horizontalBar,
#editorWrap.small:not(.acssSelected) acss-editor-code-acss,
#editorWrap.small:not(.htmlSelected) acss-editor-code-html,
#editorWrap.small:not(.cssSelected) acss-editor-code-css,
#editorWrap.small:not(.resultSelected) .resultWrap,
#editorWrap.small.resultSelected #typingAreaOuterWrap {
	display: none;
}

#editorWrap.small:not(.resultSelected) #resultOuterWrap {
	height: 0;
}

#editorWrap.small .areaHeading {
	text-align: left;
}

#editorWrap.small #typingAreaOuterWrap {
	position: absolute;
	top: 60px;
	bottom: 0;
	height: calc(100% - 70px);
	width: calc(100% - 7px);
}

#editorWrap.small #resultOuterWrap {
	display: block;
	position: absolute;
	top: 60px;
	bottom: 0;
	height: calc(100% - 40px);
}

#editorWrap.small.acssSelected acss-editor-code-acss > div,
#editorWrap.small.htmlSelected acss-editor-code-html > div,
#editorWrap.small.cssSelected acss-editor-code-css > div {
	display: block;
}

#editorWrap.small .textAreaWrap {
	left: 0 !important;
	width: calc(100% - 13px) !important;
}

#editorWrap.small textarea {
	width: calc(100% - 10px) !important;
	height: calc(100% - 10px);
}

.smallSwitcher {
	text-align: left;
}

.smallSwitcher button {
	color: #fff;
	cursor: pointer;
	margin: 8px 0 0 8px;
	background-color: var(--smallHeadButtonBG);
}

#runAgain {
	width: 200px;
	left: 12px;
}

#editorWrap.small.smaller #tabMode {
	display: none;
}

#editorWrap.small.smaller #runAgain {
	width: 100px;
	min-width: 0;
}

#editorWrap.small.smaller.smallest #runAgain,
#editorWrap.small.smaller.smallest #reset {
	width: 70px;
	min-width: 0;
}

#editorWrap {
	min-width: 340px;
}

button:hover {
	background-color: var(--buttonHoverBG);
}

.smallSwitcher button:hover {
	background-color: var(--smallHeadButtonHoverBG);
}

#editorWrap.small.acssSelected .smallSwitcher button[data-ref="acss"],
#editorWrap.small.htmlSelected .smallSwitcher button[data-ref="html"],
#editorWrap.small.cssSelected .smallSwitcher button[data-ref="css"],
#editorWrap.small.resultSelected .smallSwitcher button[data-ref="result"] {
	background-color: var(--smallHeadButtonSelected);
}

#editorWrap.acssSelected acss-editor-code-acss .areaHeading,
#editorWrap.htmlSelected acss-editor-code-html .areaHeading,
#editorWrap.cssSelected acss-editor-code-css .areaHeading{
	background-color: var(--smallHeadButtonSelected);
}
